@import '../_constants';
@import '../_mixins';

.nav-mobile {
    position: fixed;
    bottom: 0;
    height: 50px;
    background-color: $pink;
    width: 100%;
    justify-content: center;
    display: none;

    &__item {
        color: #fff;
        flex-grow: 1;
        text-align: center;
        display: block;
        height: 100%;
        @include flex_center();
        &:not(&:first-child) {border-right: 1px solid rgba(#fff, .2);}
        &:not(&:last-child) {border-left: 1px solid rgba(#fff, .2);}
    }
}
