@import '../_constants';
@import '../_mixins';

.statistics {
    background-color: #fff;
    min-height: 317px;
    padding-top: 90px;
    padding-bottom: 85px;

    &__row {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        flex-grow: 1;
        min-width: 250px;
        text-align: center;
        letter-spacing: -0.005em;
        & + & {
            border-left: 1px solid $border-stat;
        }
    }

    &__item-container {
        width: fit-content;
        margin: 0 auto;
    }

    &__num {
        font-weight: 700;
        font-size: 64px;
        line-height: 74px;
        color: $dark;
        margin-bottom: 16px;
    }

    &__name {
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        color: $dark;
        margin-bottom: 8px;
    }

    &__description {
        font-size: 16px;
        line-height: 21px;
        color: $gray;
        text-align: right;
    }

    @media (max-width: 809px) {
        &__item:last-child {
            margin-top: 20px;
            border-left: none !important;
        }
    }

    @media (max-width: 559px) {
        &__row {
            gap: 20px;
        }
        &__item { 
            margin-top: 0 !important;
            border-left: none !important;
        } 
    }
}